<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>Spring Security Example</title>
</head>

<body>
<h1>Добро пожаловать мой господин!</h1>

<p th:text="${user.getId()}">Id</p>
<p th:text="${user.getFirstName()}">First name</p>
<p th:text="${user.getLastName()}">Last name</p>
<p th:text="${user.getAge()}">Age</p>
<p th:text="${user.getRoles()}">Roles</p>
<p th:text="${user.getEmail()}">Email</p>
<p th:text="${user.getPassword()}">Password</p>

<br/>
<hr/>

<a href="/logout">
    <input type="submit" value="Logout"/>
</a>
</body>
</html>